//====================================================================================================
.footer {
    color: $primaryColor;
    padding-top: 50px;

    @media (max-width:$mobile) {
        padding: 40px 0 30px;
    }

    &__content {
        min-height: 225px;
        display: flex;
        justify-content: space-evenly;
    }

    &__logo {
        @media (max-width:$mobile) {
            margin-bottom: 25px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__socials {
        display: flex;
        margin-bottom: 2px;
    }

    &__icon {
        font-size: 28px;

        &:not(:last-child) {
            margin-right: 7px;
        }

        @media (max-width:$mobile) {
            color: $grayColor;
        }
    }

    &__address {
        @media (max-width:$mobile) {
            display: none;
        }
    }

    &__bottom {
        @media (max-width:$mobile) {
            text-align: start;
            border-bottom: 1px solid $grayColor;
            padding-bottom: 25px;
            margin-bottom: 20px;
        }

        &.desc-sec {
            color: $grayColor;

            @media (max-width:$mobile) {
                font-size: 12px;

                p {
                    &:not(:last-child) {
                        margin-bottom: 3px;
                    }
                }

            }
        }
    }
}

.footer-flex-end {
    @media (min-width:$mobile) {
        display: flex;
        justify-content: flex-end;
    }
}

.nav-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media (max-width:$mobile) {
        justify-content: start;
    }

    &__column {
        margin: 0 3px;
        padding: 5px 0;

        @media (max-width:$mobile) {
            margin: 0 0 15px;
            padding: 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 2px;

        @media (max-width:$mobile) {
            font-size: 14px;
        }
    }

    &__list {}

    &__item {}

    &__link {
        font-size: 12px;

        @media (max-width:$mobile) {
            font-size: 14px;

            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
    }
}

//====================================================================================================