//====================================================================================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease 0s;
  z-index: 10;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  background-color: #fff;

  &._scroll {
    // @media (min-width: 1025px) {
    //   transition: 0.4s linear;
    //   top: -100px;
    //   @media (any-hover: hover) {
    //     &:hover {
    //       transition: 0.2s linear;
    //       top: 0;
    //     }
    //   }
    // }
  }

  &__content {
    align-items: center;
    padding: 5px 0;
    min-height: 80px;

    @media (max-width: $mobile) {
      justify-content: center;
      min-height: 50px;
    }

    // .grid__item {
    //   display: flex;
    //   align-items: center;
    // }
  }

  &__logo {
    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__menu {}

  &__button {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.logo {
  &__wrap {}
}

.menu {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  &__icon {
    display: none;
  }

  &__body {
    width: 100%;

    @media (max-width: $mobile) {
      left: 0;
      position: fixed;
      top: -50%;
      transition: top 0.3s ease 0s;
      padding: 20px 15px 30px 15px;
      background-color: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    }

    &._active {
      top: 50px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      font-weight: 600;
      font-size: 16px;
      color: $primaryColor;
      margin: 0 3px;
      padding: 5px 0;

      @media (any-hover: hover) {
        &:hover {
          color: #000;
        }
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
}

.icon-menu {}

.menu-item {}

.current-menu-item {}

.btn {}

.grid__item-header-button,
.grid__item-header-menu {
  @media (max-width: $mobile) {
    // display: none;
  }
}

//====================================================================================================

//Burger
.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: absolute;
    top: 17px;
    right: 10px;
    width: 30px;
    height: 17px;
    cursor: pointer;
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 0.5px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $primaryColor;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 0.5px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 0.5px);
        }
      }
    }
  }
}