//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1200px;
$pc: $maxWidthContainer+12px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

$mainColor: #000;
$primaryColor: #395690;
$secondaryColor: #ff4777;
$grayColor: #BDBDBD;
$bgColor: #F9F9F9;
//</ПЕРЕМЕННЫЕ>===========================================================================================================