//<ОСНОВНОЙ БЛОК>====================================================================================================
.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
.h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;

  @media (max-width: $mobile) {
    font-size: 25px;
  }
}

h2,
.h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

h3,
.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  @media (max-width: $mobile) {
    font-size: 16px;
  }
}

h4,
.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  @media (max-width: $mobile) {
    font-size: 16px;
  }
}

h5,
.desc-sec {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  @media (max-width: $mobile) {
    font-size: 8px;
  }
}

a:hover {
  text-shadow: 0 0 .65px $primaryColor;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
//<BUTTONS>====================================================================================================
.btn {
  min-width: 230px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 25px;
  background: $primaryColor;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media (any-hover: hover) {
    &:hover {
      background-color: $secondaryColor;

    }
  }

  @media (max-width: $mobile) {
    font-size: 18px;
  }

  &._fw {
    width: 100%;
  }
}

//</BUTTONS>====================================================================================================

//====================================================================================================
%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//====================================================================================================
._ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//====================================================================================================
._swiper {
  overflow: hidden;

  //.swiper-wrapper
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }

  &.swiper-container-vertical {
    .swiper-wrapper {
      flex-direction: column;
    }
  }

  &.swiper-container-autoheight {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }
}

.swiper-container-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}

.swiper-container-android {

  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: rgba(57, 86, 144, 0.3);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 15px;
  }

  @media (max-width:$mobile) {
    width: 8px;
    height: 8px;

    &:not(:last-child) {
      margin-right: 8px;
    }

  }
}

.swiper-pagination-bullet-active {
  background-color: $primaryColor;
}

//====================================================================================================
//=====================================================================================================================
._tabs {}

._tabs-item {}

._tabs-block {
  display: none;

  @media (max-width: $mobile) {
    display: block;
  }

  &._active {
    display: block;
  }
}